/* body{
    background-color: rgb(58, 58, 58);
    color: white;
} */

body{
    margin-bottom: 60px;
}

header p{
    font-size: small;
    color: rgb(225, 0, 0);
    font-weight: 1000;
    margin:13px 0 0 10px;
}

header strong{
    font-size: x-large;
    margin-left: 10px;
}

#arrangement{
    display: flex;
    justify-content: center;
}


table {
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto 0 auto;;
} 


#index {
    height: 1px;
}



th, td {
    border: 0.8px solid black;
    padding: 0px;
    text-align: center;
    width: 100px;
    height: 50px;
}

td {
    position: relative;
}

th {
    background-color: #f2f2f2;
    /* background-color: grey; */
}

tr th{
   height: 20px; 
}

.first_col{
    width:30px
}


div.time_oto15 {
    top: 0%;
    height: 100%; /* 부모 요소의 높이를 100%로 설정 */
    width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    position: absolute; /* 상대 위치 설정 */
    /* background-color: rgba(10, 90, 10, 0.84); */
    background-color: rgba(50, 205, 50, 0.6);
    display: flex;
    flex-direction: column;
}

div.time_oto15::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -25.004%; /* 아래쪽으로 25%만큼 넘치도록 설정 */
    width: 100%;
    height: 25.004%;
    background-color: rgba(50, 205, 50, 0.6);
}


div.time_30to45 {
    top: 50%;
    height: 100%; /* 부모 요소의 높이를 100%로 설정 */
    width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    position: absolute; /* 상대 위치 설정 */
    background-color: rgba(34, 255, 0,0.5);
    display: flex;
    flex-direction: column;
}

div.time_30to45::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -25.004%; /* 아래쪽으로 25%만큼 넘치도록 설정 */
    width: 100%;
    height: 25.004%;
    background-color: rgba(34, 255, 0,0.5);

}


span.lecture-name{
    height: 20px;
    margin: auto;
    overflow: hidden;
}

span.classroom-name{
    height: 13px;
    margin: auto;
    font-size: x-small;
    overflow: hidden;
}

form{
    background-color: bisque;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#friend-list-index{
    margin: 50px;
}


.friend-list-friend{
    display: flex;
}